<div class="row">
   <div class="eleven columns centered panel">
     <div id="featured">
       <img src="assets//bald-eagle.jpg" alt="eagle" data-caption="#htmlCaption">
       <span class="orbit-caption" id="htmlCaption" style="display:none">America, Fuck Ya!</span>
       <img src="assets//macaw.jpg" alt="macaw" data-caption="#macawCaption">
       <span class="orbit-caption" id="macawCaption" style="display:none">Macaw, Fuck Ya!</span>
       <img src="assets//panda.jpg" alt="panda">
       <img src="assets//tiger.jpg" alt="tiger">
     </div>
   </div>
 </div>
 <br>
 
 <div class="row">
   <div class="four columns panel" style="margin-left:22px;">
     <h3>Latest News</h3>
     <ul class='disc'>
       <li><a href="#">Newest info in the war on drugs</a></li>
       <li><a href="#">Lamar Smith said WHAT about Reddit?</a></li>
       <li><a href="#">Mel Gibson goes on strike against Hollywood</a></li>
       <li><a href="#">Norml launches media campaign against Lamar Smith</a></li>
       <br>
<a href="#" class="nice medium radius blue button">Read The Blog &raquo;</a>
     </ul>
   </div><!-- .span-one-third -->
   
   <div class="six columns panel" style="float:right;margin-right:23px;padding-bottom:20px;">
     <h3>Join The Campaign</h3>
     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
     <p><span class="right"><a href="#" class="nice medium radius red button">Take Action &raquo;</a></span></p>
   </div><!-- .span-one-third -->
 </div><!-- .row -->