
  <div id="slider-box">
    &nbsp;
    <ul class="aviaslider" id="frontpage-slider">
      <li><a href="#1"><%= image_tag("slides/1.jpg") %></li>
      <li><a href="#2"><%= image_tag("slides/2.jpg") %></li>
    </ul>
  </div>
  

