/* 670px */
body {
  background-color:#d4d2d3;
  font-family: 'Rosarivo', serif;
}

#container{
  width:690px;
  margin:0 auto;
}


#header{
  width:690px;
  margin:0 auto;
}

.action-buttons{
  margin:0;
  padding:0;
}

.action-button{
  float:left;
}

.nav{
  padding:0;
  padding-bottom:10px;
}

.nav-item{
 margin-top:0;
 float:left; 
 display:block;
}



li:first-child{
  width:130px;
}

li:last-child{
  width:230px;
  border-right:none;
}

.main-content{
  background-color:white;
  width:669px;
  float:left;
}

#slider-box{
  width:669px;
  
}

.aviaslider{
  margin:0 auto;
}